.footer {
    color: var(--oscuro);
    text-align: center;
    padding: 10px 0px;
    width: 100%;
    border-top: var(--difuminado) 3px solid;
  }
  
  .footer nav ul {
    list-style-type: none;
  }
  
  .footer nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  .footer nav ul li a {
    color: var(--oscuro);
    text-decoration: none;
  }
  